# directory listing
alias l="ls -h"
alias la="ls -Ah"

# my directories
alias c="cd C:"
alias d="cd D:"

# cygwin
alias open=cygstart
alias .="cygstart ."

# shortcuts for programs
alias b=bower
alias g=git
alias gu=gulp
alias n=npm
alias no=node

# bower
alias bi="bower install"
alias bl="bower list"
alias bs="bower search"

# npm
alias ni="npm install"
alias nl="npm list"
alias ns="npm search"

# deleting
alias rm="rm -i"
