# system files
.DS_Store

# IDEs and editors
.idea
.vscode
.cursor

# brew lockfile
brew/Brewfile.lock.json

# ignored fish functions
fish/functions/fisher.fish

# git system-specific configs
gitconfig*system-specific

