packages: [
  ".bin"
  "advanced-open-file"
  "aligner"
  "aligner-scss"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autocomplete-clang"
  "autocomplete-python"
  "autocomplete-ruby"
  "docblockr"
  "emmet"
  "ex-mode"
  "git-plus"
  "highlight-line"
  "jumpy"
  "language-prolog"
  "language-slim"
  "linter"
  "linter-clang"
  "linter-pep8"
  "linter-prolog"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-slim"
  "minimap"
  "package-sync"
  "pigments"
  "project-manager"
  "script"
  "sort-lines"
  "vim-mode"
]
